body{
	background-color: #fab4da;
}
h1{
	font-weight:normal;
}
.card{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 500;
	background-image: url("../imagem/card.png");
	border: 5px solid #A0437B;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgb(255, 255, 255);
	width: 400px;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	margin:auto;
	margin-top:10%;
	padding: 1px 20px;
}
.insta{
	list-style-image: url("../imagem/insta.png");
}
.email{
	list-style-image: url("../imagem/out.png");
}
.whats{
	list-style-image: url("../imagem/whats.png");
}
a{
	text-decoration: none;
	color: black;
}

